# Weeks 11 and 12 

Chris Goodwin
DSC540

For this assignment, we will be completing Activity 11 from Data Wrangling with Python. Please note that I downloaded the shell of this .ipynb file from github.


### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

To do this, we will import the appropriate package and connect to it. We then will write a function to check if the connection is successful. If we are able to execute a simple statement, then the connection is successful. If we get an error message, we will print that error to the screen.

In [1]:
import sqlite3

In [2]:
pets = sqlite3.connect("petsdb")

In [3]:
def successful(connection):
    try:
        connection.execute("SELECT * FROM persons")
        print("Successful connection")
    except sqlite3.ProgrammingError as e:
        print("Connection closed", e)

In [4]:
successful(pets)

Successful connection

In [5]:
pets.close()

In [6]:
successful(pets)

Connection closed Cannot operate on a closed database.

As we can see from the call to our function, we established a connection to the pets database. We then closed the connection, ran our program again, and saw that we got an error message.

### Task 2: (What are the different age groups in the persons database)

Next we will determine the different age groups in the persons database. We will do this using a select statement.

In [7]:
pets = sqlite3.connect("petsdb")

In [9]:
task_2 = pets.execute("select count(age), age from persons group by age")

for group, age in task_2:
    print("There are {} people of age {}".format(group, age))

There are 2 people of age 5
There are 1 people of age 6
There are 1 people of age 7
There are 3 people of age 8
There are 1 people of age 9
There are 2 people of age 11
There are 3 people of age 12
There are 1 people of age 13
There are 4 people of age 14
There are 2 people of age 16
There are 2 people of age 17
There are 3 people of age 18
There are 1 people of age 19
There are 3 people of age 22
There are 2 people of age 23
There are 3 people of age 24
There are 2 people of age 25
There are 1 people of age 27
There are 1 people of age 30
There are 3 people of age 31
There are 1 people of age 32
There are 1 people of age 33
There are 2 people of age 34
There are 3 people of age 35
There are 3 people of age 36
There are 1 people of age 37
There are 2 people of age 39
There are 1 people of age 40
There are 1 people of age 42
There are 2 people of age 44
There are 2 people of age 48
There are 1 people of age 49
There are 1 people of age 50
There are 2 people of age 51
There are 2 people of age 52
There are 2 people of age 53
There are 2 people of age 54
There are 1 people of age 58
There are 1 people of age 59
There are 1 people of age 60
There are 1 people of age 61
There are 2 people of age 62
There are 1 people of age 63
There are 2 people of age 65
There are 2 people of age 66
There are 1 people of age 67
There are 3 people of age 68
There are 1 people of age 69
There are 1 people of age 70
There are 4 people of age 71
There are 1 people of age 72
There are 5 people of age 73
There are 3 people of age 74

### Task 3: Which age group has maximum number of people?

This one is definitely more involved. In order to execute this, we will treat our previous call as its own table. By that I mean we will have a select statement within a select statement. We will select the ages and counts from the persons table, and then from that outcome will will select the max of the counts. We then print them to the screen accordingly.

In [14]:
task_3 = pets.execute("select max(mycount), age from (select age, count(age) mycount from persons group by age)")

for count, age in task_3:
    print("The largest age group is {}, with {} entries".format(age, count))

The largest age group is 73, with 5 entries

### Task 4: How many people do not have a full name (Last name is blank/null)

For this one, we simply need a select statement that selects the count of entries where last_name is null.

In [18]:
task_4 = pets.execute("select count(first_name) from persons where last_name is null")

for row in task_4:
    print(row)

(60,)

### Task 5: How many people has more than one pet? (*)

Once again here we execute a select statement within a select statement. We select the count of how many time each owner ID appears in the pets table, and then from that grouping we select the number of instances where someone has > 1 pets.

From the previous task, we know that the result will be a tuple, with the first value as the count and the second value as null. Therefore when we print, we want only the first value.

In [23]:
task_5 = pets.execute("SELECT count(*) FROM (SELECT count(owner_id) mycount FROM pets GROUP BY owner_id) where mycount > 1")

for row in task_5:
    print("There are {} people with more than one pet.".format(row[0]))

There are 43 people with more than one pet.

### Task 6: How many pets have received treaments?

Based on the textbook, if the pet had treatment done, then treatment_done = 1. If pet type is known, then pet_type will be not null. Therefore we just need a select statement where treatment_done = 1, and then a second statement where treatment_done = 1 and pet_type is not null.

In [26]:
task_6 = pets.execute("select count(*) from pets where treatment_done = 1")

for row in task_6:
    print("{} overall pets have received treatments".format(row[0]))

36 overall pets have received treatments

### Task 7: How many pets have received treatment that we know the type of?

In [27]:
task_7 = pets.execute("select count(*) from pets where treatment_done = 1 and pet_type is not null")

for row in task_7:
    print("{} known pets have received treatments".format(row[0]))

16 known pets have received treatments

### Task 8: How many pets are there from the city called "east port"

For this one, we have to join the two tables together. We join the tables where pets.owner_id = persons.id and then we limit it to only those persons whose city is "east port"

In [30]:
task_8 = pets.execute("select count(*) from pets p1, persons p2 where p1.owner_id = p2.id and p2.city = 'east port' ")

for row in task_8:
    print("There are {} pets from the city east port.".format(row[0]))

There are 49 pets from the city east port.

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

This is very similar to the previous task. The only difference is that we have to add an additional limit, where pets.treatment_done = 1

In [31]:
task_9 = pets.execute("select count(*) from pets p1, persons p2 where p1.owner_id = p2.id and p2.city = 'east port' and p1.treatment_done = 1")

for row in task_9:
    print("There are {} pets from the city east port who have received treatment.".format(row[0]))

There are 11 pets from the city east port who have received treatment.